body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.stream {
	position: relative;
	width: 80%;
	display: inline-block;
}*/

/*.stream img {
	width: 80%;
}*/
/*.slike{
	position: relative;
	width: 19%;
	height: 778.9px;
	display: inline-block;
}*/

/*.slike img {
	position: relative;
	width: 100%;
	height: auto;
}*/

.modal-lg {
	width: 1340px;
}
